.novellist3 li { 
	background-color: #f4ede6 !important;
color: #282828 !important;
       border-color: #282828 !important;
}
.pp .top-bar-area .btn-link { background-color: #282828 !important; }
.container-fluid { background-color: #282828 !important; } 
.table-novels tr > th { padding-left: 5 !important; }
.navbar-inverse .navbar-nav > li > a {
	background-color: #282828 !important;
color: #f4ede6 !important;
}
.table thead > tr > th { 
	background-color: #282828 !important; 
color: #f4ede6 !important;
       border-color: #282828 !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	border-color: #282828 !important;
}
.tabbable.light .tab-content {
	border-color: #282828 !important;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
	border-color: #282828 !important;
}
.tabbable.light .nav-tabs > li > a { 
	border-color: #282828 !important;
	background-color: #f4ede6 !important; 
color: #282828 !important;
}	

.tabbable.light .nav-tabs > li.active > a { 
	border-color: #282828 !important;
color: #f4ede6 !important; 
       background-color: #282828 !important;
}	
.tabbable.light .nav-tabs{ 
	background-color: #f4ede6 !important; 
color: #282828 !important;
}
.navbar-header .navbar-link > a { color: #282828 !important; }
pre,textarea,body,input,td,tr,p {
	background-color: #f4ede6 !important;
	background-image: none !important;
color: #282828 !important;
}
.form-control {
	background-color: #282828 !important;
color: #f4ede6 !important;
       border-color: #f4ede6 !important;
}
.navbar {
	background-color: #282828 !important;
}
div {
color: #282828 !important;
       background-image: none !important;
       background-color: #f4ede6 !important;
}
h1,h2,h3,h4 {
	background-color: #f4ede6 !important;
color: #282828 !important;
}
a {
color: #282828: !important;
}
